body {
    margin: 0;
    background-color: #141515;
    color: whitesmoke;
}

.form {
    display: flex;
    max-width: 700px;
    gap: 6rem;
    margin: 2rem auto;
}
.delete {
    background-color: red;
    color: white;
  }
  .edit {
    color: white;
    background-color: green;
  }