.auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: cornflowerblue;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: #333;
  }
  
  .auth h1 {
    text-align: center;
    color: #333;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    font: inherit;
    color: #333;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    border-radius: 100px;
    color: #333;
    padding: 0.5rem 1.5rem;
    background-color: white;
    border: 1px solid rgb(10, 10, 10);
  }
  .actions a {
    color: hsl(300, 80%, 20%);
  }  
  
  